# Services authentication details
AWS_ACCESS_KEY_ID=minio
AWS_SECRET_ACCESS_KEY=minio123
MYSQL_ROOT_USER=root
MYSQL_ROOT_PASSWORD=secret
MYSQL_APP_USER=cryptoml-api
MYSQL_APP_PASSWORD=secret
MONGODB_ROOT_USER=root
MONGODB_ROOT_PASSWORD=secret
INFLUXDB_DATABASE=db0
INFLUXDB_USERNAME=admin
INFLUXDB_PASSWORD=admin
GRAFANA_USERNAME=admin
GRAFANA_PASSWORD=admin

# Chain required services for this configuration
# Compose path separator is ';' in windows and ':' in linux. Fix it for cross-platform compatibility
COMPOSE_PATH_SEPARATOR=:
# Services are listed in reverse order
COMPOSE_FILE=./docker-compose.celery.yml:./docker-compose.yml:./docker-compose.dask.yml:./docker/redis.yml:./docker/minio.yml:./docker/mongodb.yml:./docker/influxdb.yml