# API Core
fastapi
uvicorn # Runtime
python-multipart # For FastAPI File upload support
werkzeug # Validation

# Task Queueing and broker (redis) client
celery # Queue
celery[redis] # Redis support for Celery
redis # Queue backend client
# Kraken API client
krakenex
