flask
flask-cli
dependency-injector
pymysql
pandas
pyyaml
werkzeug # request validation
sqlalchemy
boto3 # aws s3 client
celery # Queue
celery[redis] # Redis support for Celery
redis # Queue backend client
python-dotenv