# API Core
fastapi
python-multipart # For FastAPI File upload support
werkzeug # Validation
# App Configuration
confuse
pyyaml
# MySQL ORM and client
sqlalchemy
sqlalchemy-utils
pymysql
# S3 Storage Client
boto3
# Task Queueing and broker (redis) client
celery # Queue
celery[redis] # Redis support for Celery
redis # Queue backend client