# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Tesi-POLITO\CryptoML-API\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
