# API Core
fastapi
python-multipart # For FastAPI File upload support
werkzeug # Validation
# App Configuration
confuse
pyyaml
python-dotenv
# MySQL ORM and client
sqlalchemy
sqlalchemy-utils
pymysql
# S3 Storage Client
boto3
# Task Queueing and broker (redis) client
celery # Queue
celery[redis] # Redis support for Celery
redis # Queue backend client
# ML
numpy
pandas
sklearn
statsmodels
imbalanced-learn
xgboost
git+https://github.com/RedLicorice/sklearn-genetic.git@master
git+https://github.com/g8a9/pyti.git@master
# Distributed ML Client
dask
dask[dataframe]
dask[delayed]
dask[distributed]